body{
    /* background-color: rgb(0, 0, 0); */
padding: 0;
margin: 0;
background-color: rgb(31, 31, 31);
}
h1{
  color: #FACD35;
  text-align: center;
  font-size: 500%;
  font-family: 'Playfair Display', serif;
}
p{
  color: rgb(255, 196, 0);
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 200%;
  font-family: 'Open Sans', sans-serif;
}
a{
  color: #FACD35;
  font-family: 'Playfair Display', serif;
}
.wrapper{
  width:100%;
  height:100%;
  min-width: 1000px;
min-height: 1000px;
}
.homeareas{
    display: grid;
    grid-template-columns: 12;
    grid-auto-rows:minmax(100px,auto);
    grid-template-areas: 
        "nav nav . . . . . . imglogo . . ."
        ". . . . . . . . . . . ."
        "imgbee imgbee imgbee imgbee imgbee  imgbee  imgbee  imgbee imgbee imgbee imgbee imgbee"
        ". . . . . . . . . . . ."
        "aboutus aboutus aboutus aboutus aboutus aboutus aboutus aboutus aboutus aboutus aboutus aboutus" 
        ". . . . . . . . . . . ."
        "imgbees imgbees imgbees imgbees imgbees imgbees imgbees imgbees imgbees imgbees imgbees imgbees"
        ". . . . . . . . . . . ."
        "products products products products products products products products products products products products";
        justify-content: right;
        align-content: right;
}
  .nav{
    grid-area: nav; 
    height: 100px;
   
  }
  .nav ul li{
   
    list-style: none;
      position: inherit;
      font-family: Playfair Display;
      font-style: normal;
      font-weight: normal;
      font-size: 150%;
      line-height: 150%;
      letter-spacing: 0.115em;
      color: #FACD35;
  }
  .nav a{
    text-decoration: none;
  }
  .imglogo{
      grid-area: imglogo;
      width: 300%;
      padding-top: 10%;
     
  }

 .imgbee{
    grid-area: imgbee; 
    width:100%;
 }
 .aboutus{
   grid-area: aboutus;
   font-family: 'Open Sans', sans-serif;
 }
 .imgbees{
   grid-area: imgbees;
   width: 100%;
 }
 .products{
   grid-area: products;
 }
 .prodblurb{
grid-area: prodblurb;
padding-top: 10%;
font-family: 'Open Sans', sans-serif;
 }
 .bush{
  grid-area: bush;
  width: 33%;
  display: box;
  ;
  
 }
 .manuka{
  grid-area: manuka;
  width: 33%;
  display: box;
  
 }
 .rewarewa{
  grid-area: rewarewa;
  width: 33%;
  display: box;
  
 }
 .gallerycontainer{
  display: grid;
  grid-template-columns: 3;
  grid-auto-rows:minmax(100px,auto);
  grid-template-areas: 
      "fb ig yt"
      ". . ."
      "btt btt btt"
      ;
    
}
.ig1{
  grid-area: ig1;
  width: 33%;
}
.ig2{
  grid-area: ig2;
  width: 33%;
}
.ig3{
  grid-area: ig3;
  width: 33%;
}
.ig4{
  grid-area: ig4;
  width: 33%;
}
.ig5{
  grid-area: ig5;
  width: 33%;
}
.ig6{
  grid-area: ig6;
  width: 33%;
}
.ig7{
  grid-area: ig7;
  width: 33%;
}
.ig8{
  grid-area: ig8;
  width: 33%;
}
.ig9{
  grid-area: ig9;
  width: 33%;
}
.footer{
  grid-area: ft;
}
.fb{
grid-area: fb;
width: 40%;
margin-left: 30%;
}
.yt{
grid-area: yt;
width: 40%;
margin-left: 30%;
}
.ig{
grid-area: ig;
width: 40%;
margin-left: 30%;
}
.btt{
  grid-area: btt;
  margin-left: 45%;
}